# Lab | Handling Data Imbalance in Classification Models

-----------------------------------------------------------------------------------------------------------
For this lab and in the next lessons we will build a model on customer churn binary classification problem. You will be using files_for_lab/Customer-Churn.csv file.

----------------------------------------------------------------------------------------------------

### Scenario

----------------------------------------------------------------------------------------------
You are working as an analyst with this internet service provider. You are provided with this historical data about your company's customers and their churn trends. Your task is to build a machine learning model that will help the company identify customers that are more likely to default/churn and thus prevent losses from such customers.

-------------------------------------------------------------------------------------------

### Instructions

------------------------------------------------------------------------------------------------------------
In this lab, we will first take a look at the degree of imbalance in the data and correct it using the techniques we learned on the class.

Here is the list of steps to be followed (building a simple model without balancing the data):
    
----------------------------------------------------------------------------------------------------------

##### 1. Import the required libraries and modules that you would need.

In [2]:
#Importing necessary libraries
import pandas as pd
import numpy as np

##### 2. Read that data into Python and call the dataframe churnData.

In [3]:
#Importing the csv file into a varieble
churnData = pd.read_csv(r"C:\Users\mafal\Documents\ironhack\labs\lab-handling-data-imbalance-classification\files_for_lab\Customer-Churn.csv")

In [4]:
churnData

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

##### 3. Check the datatypes of all the columns in the data. You would see that the column TotalCharges is object type. Convert this column into numeric type using pd.to_numeric function.

In [5]:
# Check the data types of all columns
print(churnData.dtypes)

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [6]:
# Convert column 'TotalCharges' from object to numeric
# 'coerce' will set 'not a number' to NaN (missing value)
churnData['TotalCharges'] = pd.to_numeric(churnData['TotalCharges'], errors='coerce')

# Display the dtypes after conversion
print("\nDtypes after conversion:")
print(churnData.dtypes)

# Display the DataFrame after conversion
print("\nDataFrame after conversion:")
print(churnData)

Dtypes after conversion:
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

DataFrame after conversion:
      gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0     Female              0     Yes         No       1           No
1       Male              0      No         No      34          Yes
2       Male              0      No         No       2          Yes
3       Male              0      No         No      45           No
4     Female              0      No         No       2          Yes
...      ...            ...     ...        ...     ...          ...
7038    Male              0     Yes        Yes      24          Yes
7039  Female              0     Yes        Yes      72          Yes
7040  Female              0     Yes        Yes      11           No
7041    Male              1     Yes         No       4          Yes
7042    Male              0      No         No      66          Yes

     OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV  \
0                No          Yes               No          No          No
1               Yes           No              Yes          No          No
2               Yes          Yes               No          No          No
3               Yes           No              Yes         Yes          No
4                No           No               No          No          No
...             ...          ...              ...         ...         ...
7038            Yes           No              Yes         Yes         Yes
7039             No          Yes              Yes          No         Yes
7040            Yes           No               No          No          No
7041             No           No               No          No          No
7042            Yes           No              Yes         Yes         Yes

     StreamingMovies        Contract  MonthlyCharges  TotalCharges Churn
0                 No  Month-to-month           29.85         29.85    No
1                 No        One year           56.95       1889.50    No
2                 No  Month-to-month           53.85        108.15   Yes
3                 No        One year           42.30       1840.75    No
4                 No  Month-to-month           70.70        151.65   Yes
...              ...             ...             ...           ...   ...
7038             Yes        One year           84.80       1990.50    No
7039             Yes        One year          103.20       7362.90    No
7040              No  Month-to-month           29.60        346.45    No
7041              No  Month-to-month           74.40        306.60   Yes
7042             Yes        Two year          105.65       6844.50    No

[7043 rows x 16 columns]

##### 4. Check for null values in the dataframe. Replace the null values.

In [7]:
# Count null values in each column
null_counts = churnData.isnull().sum()
print("Number of null values in each column:")
print(null_counts)

Number of null values in each column:
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [8]:
# Replace null values in column 'A' with 0
churnData['TotalCharges'] = churnData['TotalCharges'].fillna(0)

In [9]:
# Count null values in each column
null_counts = churnData.isnull().sum()
print("Number of null values in each column:")
print(null_counts)

Number of null values in each column:
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

##### 5. Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges to:

###### 5.1 Scale the features either by using normalizer or a standard scaler.

In [10]:
# Scaling the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges

churnData_copy = churnData.copy()

from sklearn.preprocessing import StandardScaler

# Selecting columns to standardize
columns_to_scale = ['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges']

# Creating a scaler object
scaler = StandardScaler()

# Fitting the scaler to the data and transforming it
churnData_copy[columns_to_scale] = scaler.fit_transform(churnData_copy[columns_to_scale])

print(churnData_copy)

      gender  SeniorCitizen Partner Dependents    tenure PhoneService  \
0     Female      -0.439916     Yes         No -1.277445           No
1       Male      -0.439916      No         No  0.066327          Yes
2       Male      -0.439916      No         No -1.236724          Yes
3       Male      -0.439916      No         No  0.514251           No
4     Female      -0.439916      No         No -1.236724          Yes
...      ...            ...     ...        ...       ...          ...
7038    Male      -0.439916     Yes        Yes -0.340876          Yes
7039  Female      -0.439916     Yes        Yes  1.613701          Yes
7040  Female      -0.439916     Yes        Yes -0.870241           No
7041    Male       2.273159     Yes         No -1.155283          Yes
7042    Male      -0.439916      No         No  1.369379          Yes

     OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV  \
0                No          Yes               No          No          No
1               Yes           No              Yes          No          No
2               Yes          Yes               No          No          No
3               Yes           No              Yes         Yes          No
4                No           No               No          No          No
...             ...          ...              ...         ...         ...
7038            Yes           No              Yes         Yes         Yes
7039             No          Yes              Yes          No         Yes
7040            Yes           No               No          No          No
7041             No           No               No          No          No
7042            Yes           No              Yes         Yes         Yes

     StreamingMovies        Contract  MonthlyCharges  TotalCharges Churn
0                 No  Month-to-month       -1.160323     -0.992611    No
1                 No        One year       -0.259629     -0.172165    No
2                 No  Month-to-month       -0.362660     -0.958066   Yes
3                 No        One year       -0.746535     -0.193672    No
4                 No  Month-to-month        0.197365     -0.938874   Yes
...              ...             ...             ...           ...   ...
7038             Yes        One year        0.665992     -0.127605    No
7039             Yes        One year        1.277533      2.242606    No
7040              No  Month-to-month       -1.168632     -0.852932    No
7041              No  Month-to-month        0.320338     -0.870513   Yes
7042             Yes        Two year        1.358961      2.013897    No

[7043 rows x 16 columns]

In [11]:
#Using normalizer

churnData_copy2 = churnData.copy()

from sklearn.preprocessing import MinMaxScaler

# Selecting columns to normalize
columns_to_normalize = ['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges']

# Creating a scaler object for Min-Max scaling
min_max_scaler = MinMaxScaler()

# Fitting the scaler to the data and transforming it
churnData_copy2[columns_to_normalize] = min_max_scaler.fit_transform(churnData_copy2[columns_to_normalize])

print(churnData_copy2)

      gender  SeniorCitizen Partner Dependents    tenure PhoneService  \
0     Female            0.0     Yes         No  0.013889           No
1       Male            0.0      No         No  0.472222          Yes
2       Male            0.0      No         No  0.027778          Yes
3       Male            0.0      No         No  0.625000           No
4     Female            0.0      No         No  0.027778          Yes
...      ...            ...     ...        ...       ...          ...
7038    Male            0.0     Yes        Yes  0.333333          Yes
7039  Female            0.0     Yes        Yes  1.000000          Yes
7040  Female            0.0     Yes        Yes  0.152778           No
7041    Male            1.0     Yes         No  0.055556          Yes
7042    Male            0.0      No         No  0.916667          Yes

     OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV  \
0                No          Yes               No          No          No
1               Yes           No              Yes          No          No
2               Yes          Yes               No          No          No
3               Yes           No              Yes         Yes          No
4                No           No               No          No          No
...             ...          ...              ...         ...         ...
7038            Yes           No              Yes         Yes         Yes
7039             No          Yes              Yes          No         Yes
7040            Yes           No               No          No          No
7041             No           No               No          No          No
7042            Yes           No              Yes         Yes         Yes

     StreamingMovies        Contract  MonthlyCharges  TotalCharges Churn
0                 No  Month-to-month        0.115423      0.003437    No
1                 No        One year        0.385075      0.217564    No
2                 No  Month-to-month        0.354229      0.012453   Yes
3                 No        One year        0.239303      0.211951    No
4                 No  Month-to-month        0.521891      0.017462   Yes
...              ...             ...             ...           ...   ...
7038             Yes        One year        0.662189      0.229194    No
7039             Yes        One year        0.845274      0.847792    No
7040              No  Month-to-month        0.112935      0.039892    No
7041              No  Month-to-month        0.558706      0.035303   Yes
7042             Yes        Two year        0.869652      0.788101    No

[7043 rows x 16 columns]

###### 5.2 Split the data into a training set and a test set.

In [12]:
# Label encoding the gender column
# Use pd.get_dummies() to convert all categorical columns to dummy variables
churnData_copy_encoded = pd.get_dummies(churnData_copy, drop_first=True)

# Display the resulting DataFrame with encoded categorical columns
print("\nDataFrame after encoding:")
print(churnData_copy_encoded)

DataFrame after encoding:
      SeniorCitizen    tenure  MonthlyCharges  TotalCharges  gender_Male  \
0         -0.439916 -1.277445       -1.160323     -0.992611        False
1         -0.439916  0.066327       -0.259629     -0.172165         True
2         -0.439916 -1.236724       -0.362660     -0.958066         True
3         -0.439916  0.514251       -0.746535     -0.193672         True
4         -0.439916 -1.236724        0.197365     -0.938874        False
...             ...       ...             ...           ...          ...
7038      -0.439916 -0.340876        0.665992     -0.127605         True
7039      -0.439916  1.613701        1.277533      2.242606        False
7040      -0.439916 -0.870241       -1.168632     -0.852932        False
7041       2.273159 -1.155283        0.320338     -0.870513         True
7042      -0.439916  1.369379        1.358961      2.013897         True

      Partner_Yes  Dependents_Yes  PhoneService_Yes  \
0            True           False             False
1           False           False              True
2           False           False              True
3           False           False             False
4           False           False              True
...           ...             ...               ...
7038         True            True              True
7039         True            True              True
7040         True            True             False
7041         True           False              True
7042        False           False              True

      OnlineSecurity_No internet service  OnlineSecurity_Yes  ...  \
0                                  False               False  ...
1                                  False                True  ...
2                                  False                True  ...
3                                  False                True  ...
4                                  False               False  ...
...                                  ...                 ...  ...
7038                               False                True  ...
7039                               False               False  ...
7040                               False                True  ...
7041                               False               False  ...
7042                               False                True  ...

      DeviceProtection_Yes  TechSupport_No internet service  TechSupport_Yes  \
0                    False                            False            False
1                     True                            False            False
2                    False                            False            False
3                     True                            False             True
4                    False                            False            False
...                    ...                              ...              ...
7038                  True                            False             True
7039                  True                            False            False
7040                 False                            False            False
7041                 False                            False            False
7042                  True                            False             True

      StreamingTV_No internet service  StreamingTV_Yes  \
0                               False            False
1                               False            False
2                               False            False
3                               False            False
4                               False            False
...                               ...              ...
7038                            False             True
7039                            False             True
7040                            False            False
7041                            False            False
7042                            False             True

      StreamingMovies_No internet service  StreamingMovies_Yes  \
0                                   False                False
1                                   False                False
2                                   False                False
3                                   False                False
4                                   False                False
...                                   ...                  ...
7038                                False                 True
7039                                False                 True
7040                                False                False
7041                                False                False
7042                                False                 True

      Contract_One year  Contract_Two year  Churn_Yes
0                 False              False      False
1                  True              False      False
2                 False              False       True
3                  True              False      False
4                 False              False       True
...                 ...                ...        ...
7038               True              False      False
7039               True              False      False
7040              False              False      False
7041              False              False       True
7042              False               True      False

[7043 rows x 23 columns]

In [13]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\mafal\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\mafal\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\mafal\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\mafal\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mafal\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X = churnData_copy_encoded.drop('TotalCharges', axis=1)  # Features
y = churnData_copy_encoded['TotalCharges']  # Target variable

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [17]:
# Displaying the result
print("Training set:")
print(X_train)
print(y_train)
print("\nTest set:")
print(X_test)
print(y_test)

Training set:
      SeniorCitizen    tenure  MonthlyCharges  gender_Male  Partner_Yes  \
6607      -0.439916 -1.277445       -1.311546         True        False
2598      -0.439916 -1.033122        0.345265        False        False
2345      -0.439916 -1.155283       -1.486035        False        False
4093      -0.439916 -0.137274        0.373516        False        False
693       -0.439916 -1.196004        0.343603        False        False
...             ...       ...             ...          ...          ...
3772      -0.439916 -1.277445        1.004999         True         True
5191      -0.439916 -0.381597        0.875378        False         True
5226      -0.439916 -0.829521       -1.449476         True         True
5390       2.273159 -0.829521        1.152899         True        False
860       -0.439916 -0.259435       -1.494344         True        False

      Dependents_Yes  PhoneService_Yes  OnlineSecurity_No internet service  \
6607            True             False                               False
2598           False              True                               False
2345            True              True                                True
4093           False              True                               False
693            False              True                               False
...              ...               ...                                 ...
3772           False              True                               False
5191            True              True                               False
5226            True              True                                True
5390           False              True                               False
860            False              True                                True

      OnlineSecurity_Yes  OnlineBackup_No internet service  ...  \
6607               False                             False  ...
2598               False                             False  ...
2345               False                              True  ...
4093               False                             False  ...
693                False                             False  ...
...                  ...                               ...  ...
3772                True                             False  ...
5191                True                             False  ...
5226               False                              True  ...
5390               False                             False  ...
860                False                              True  ...

      DeviceProtection_Yes  TechSupport_No internet service  TechSupport_Yes  \
6607                 False                            False            False
2598                  True                            False            False
2345                 False                             True            False
4093                 False                            False            False
693                  False                            False            False
...                    ...                              ...              ...
3772                 False                            False            False
5191                  True                            False             True
5226                 False                             True            False
5390                  True                            False            False
860                  False                             True            False

      StreamingTV_No internet service  StreamingTV_Yes  \
6607                            False            False
2598                            False            False
2345                             True            False
4093                            False            False
693                             False            False
...                               ...              ...
3772                            False             True
5191                            False             True
5226                             True            False
5390                            False             True
860                              True            False

      StreamingMovies_No internet service  StreamingMovies_Yes  \
6607                                False                False
2598                                False                False
2345                                 True                False
4093                                False                False
693                                 False                False
...                                   ...                  ...
3772                                False                 True
5191                                False                 True
5226                                 True                False
5390                                False                 True
860                                  True                False

      Contract_One year  Contract_Two year  Churn_Yes
6607              False              False       True
2598              False              False      False
2345              False              False      False
4093              False              False      False
693               False              False       True
...                 ...                ...        ...
3772              False              False       True
5191              False               True      False
5226              False              False      False
5390              False              False       True
860                True              False      False

[5282 rows x 22 columns]
6607   -0.994618
2598   -0.774159
2345   -0.968059
4093   -0.028449
693    -0.886352
          ...
3772   -0.963867
5191   -0.035927
5226   -0.870756
5390   -0.476294
860    -0.804027
Name: TotalCharges, Length: 5282, dtype: float64

Test set:
      SeniorCitizen    tenure  MonthlyCharges  gender_Male  Partner_Yes  \
185       -0.439916 -1.277445       -1.328164        False         True
2715      -0.439916  0.351370       -1.313208         True        False
3825      -0.439916  0.799294       -1.509300        False         True
1807      -0.439916 -1.277445        0.385148        False        False
132       -0.439916  1.410099       -0.472339         True        False
...             ...       ...             ...          ...          ...
5845      -0.439916 -1.196004        0.366869        False        False
2301      -0.439916 -0.992402        0.847128        False         True
5121      -0.439916 -0.137274        0.204012         True        False
677       -0.439916 -1.236724       -0.999129        False        False
6062       2.273159  0.840014        0.300397        False        False

      Dependents_Yes  PhoneService_Yes  OnlineSecurity_No internet service  \
185            False             False                               False
2715           False              True                                True
3825            True              True                                True
1807           False              True                               False
132            False              True                               False
...              ...               ...                                 ...
5845           False              True                               False
2301           False              True                               False
5121           False              True                               False
677            False             False                               False
6062           False              True                               False

      OnlineSecurity_Yes  OnlineBackup_No internet service  ...  \
185                False                             False  ...
2715               False                              True  ...
3825               False                              True  ...
1807               False                             False  ...
132                False                             False  ...
...                  ...                               ...  ...
5845               False                             False  ...
2301               False                             False  ...
5121               False                             False  ...
677                False                             False  ...
6062               False                             False  ...

      DeviceProtection_Yes  TechSupport_No internet service  TechSupport_Yes  \
185                  False                            False            False
2715                 False                             True            False
3825                 False                             True            False
1807                  True                            False            False
132                  False                            False             True
...                    ...                              ...              ...
5845                 False                            False            False
2301                 False                            False             True
5121                  True                            False            False
677                  False                            False            False
6062                 False                            False            False

      StreamingTV_No internet service  StreamingTV_Yes  \
185                             False            False
2715                             True            False
3825                             True            False
1807                            False            False
132                             False            False
...                               ...              ...
5845                            False            False
2301                            False            False
5121                            False            False
677                             False            False
6062                            False            False

      StreamingMovies_No internet service  StreamingMovies_Yes  \
185                                 False                False
2715                                 True                False
3825                                 True                False
1807                                False                False
132                                 False                False
...                                   ...                  ...
5845                                False                False
2301                                False                 True
5121                                False                 True
677                                 False                 True
6062                                False                False

      Contract_One year  Contract_Two year  Churn_Yes
185               False              False       True
2715              False              False      False
3825              False               True      False
1807              False              False       True
132               False               True      False
...                 ...                ...        ...
5845              False              False       True
2301              False              False      False
5121               True              False      False
677               False              False       True
6062              False              False      False

[1761 rows x 22 columns]
185    -0.994838
2715   -0.566163
3825   -0.550611
1807   -0.972096
132     0.432521
          ...
5845   -0.897116
2301   -0.677650
5121   -0.139032
677    -0.978316
6062    0.760650
Name: TotalCharges, Length: 1761, dtype: float64

###### 5.3 Fit a logistic regression model on the training data.

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Initialize the model
model = LogisticRegression()

# Fit the model
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

###### 5.4 Check the accuracy on the test data.

In [ ]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy}")

# Lab | Cross Validation

### Instructions

##### 1. Apply SMOTE for upsampling the data

---------------------------------------------------------------------------------------------------------

- Use logistic regression to fit the model and compute the accuracy of the model.
- Use decision tree classifier to fit the model and compute the accuracy of the model.
- Compare the accuracies of the two models.

----------------------------------------------------------------------------------------------------

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

model = DecisionTreeRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9971014558943989

##### 2. Apply TomekLinks for downsampling

--------------------------------------------------------------------------------------------------
- It is important to remember that it does not make the two classes equal but only removes the points from the majority class that are close to other points in minority class.
- Use logistic regression to fit the model and compute the accuracy of the model.
- Use decision tree classifier to fit the model and compute the accuracy of the model.
- Compare the accuracies of the two models.
- You can also apply this algorithm one more time and check the how the imbalance in the two classes changed from the last time.

----------------------------------------------------------------------------------------------------------------